*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.FormSearch {
  display: flex;
  align-items: center;       
  background-color: #2f2c79;
}

.FormSearch h2 {
  margin: 0;
  color: aliceblue;
  text-align: left;          
  flex: 0;            
  font-size: 3rem;       
}

.FormSearch form {
  flex: 1;                   
  display: flex;
  justify-content: center;   
}
.movies-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* grilla adaptable */
  gap: 1.5rem;
  padding: 1rem;
  background-color: #171a4a;
}
.info{
  display: flex;
  flex-direction: column;
  align-items:safe;
}

.item-movie {
  background-color: #1c1c1c;   /* fondo oscuro para contraste */
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.2s ease;
  width: 200px;
  height: 300px;
  background-size: contain;   /* ajusta sin recortar */
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;     /* relleno negro */
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}


.item-movie:hover {
  transform: scale(1.05);      /* efecto al pasar el mouse */
}

.item-movie p {
  margin: 0.5rem 0;
  font-weight: bold;
}
